<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>
				<a class="brand" href="#">Richard Race's Site</a>
				<div class="nav-collapse collapse">
		            <ul class="nav">		
						<li <%= "class='active'".html_safe if @title.eql?("Home")%>><%= link_to "Home", home_path %></li>
						<li <%= "class='active'".html_safe if @title.eql?("Projects")%>><%= link_to "Projects", projects_path %></li>
						<li <%= "class='active'".html_safe if @title.eql?("About")%>><%= link_to "About", about_path %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="wrap">
  		<div id="main" class="container clear-top">
    		<%= yield %>
  		</div>
	</div>		
	<div class="navbar navbar-fixed-bottom">
		<div class="container">
        	<p>&copy; Richard Race 2013</p>
    	</div>
    </div>
</body>
</html>
